.topbar {
  background-color: #444;
  color: white;
  display: flex;
  align-items: center;
  padding: 12px;
  height: 50px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-section {
  display: flex;
  align-items: center;
}

.back-button {
  color: white !important;
  background: #555 !important;
  text-decoration: none;
  font-size: 15px !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

.back-button:hover {
  background: #7d7b7b !important;
}

.back-button svg {
  width: 16px;
  fill: white;
  margin-right: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.menu-btn {
  font-size: 22px;
  padding: 6px;
}

.account-btn {
  width: 36px;
  height: 36px;
}

.account-btn svg {
  width: 22px;
  height: 22px;
}
