.topbar {
  background-color: #444;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-section {
  display: flex;
  align-items: center;
}

.back-button {
  color: white !important;
  background: #555 !important;
  text-decoration: none;
  font-size: 16px !important;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.back-button:hover {
  background: #7d7b7b !important;
}

.back-button svg{
  width: 16px;
  fill: white;
  margin-right: 12px;
}


/* ... 기존 CSS 스타일 유지 ... */
